@page
@model WebAppTest.Pages_SavedGames.FileIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Saved games from files</h1>

<table class="table">
    <thead>
    <tr>
        <th colspan="2">
            File Name
        </th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.LoadedGamesNames.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.LoadedGamesNames[i])
            </td>
            <td>
                <form method="post" asp-page="/Game/BattleShip">
                    <input class="invisible" name="GameFileName" value=@Model.LoadedGames[i]>
                    <button class="btn btn-light" type="submit">Choose this game</button> 
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
